
<h1>Communities</h1>

<table>
  <div>
    <% @communities.each do |community| %>

      <div class="row">
        <div class="col-sm-12">
          <div class="card">
            <div class="card-body">

              <h5 class="card-title">Name: <%= community.name %></h5>
              <p class="card-text">Description: <%= community.description %></p>
                
                <div>
                <%= link_to 'Show', community %>
                </div>

                <div>
                <%= link_to 'Edit', edit_community_path(community) %>
                </div>

                <div>
                <%= link_to 'Delete', community, method: :delete, data: { confirm: 'Are you sure?' } %>
                </div>
            </div>
          </div>
        </div>
      </div>

    <% end %>
  </div>
</table>



